<div>
  <%= form.label :starts_at, style: "display: block" %>
  <%= form.datetime_field :starts_at, required: true , class: "form-input" %>
</div>

<div>
  <%= form.label :ends_at, style: "display: block" %>
  <%= form.datetime_field :ends_at, required: true , class: "form-input" %>
</div>